/* Resetando margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Configuração geral do body */
body {
    font-family: Arial, sans-serif;
    background-color: #122243;
    color: #FFFFFF;
    margin: 0;
    padding: 0; /* Removemos o padding-left geral */
}

/* Ajustando o header */
header {
    background-color: #687798;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    margin: 0;
}

/* Aplicamos o padding apenas nos elementos que precisam */
ul, ol {
    padding-left: 60px; /* 40px + 20px do padding removido do body */
}

p {
    margin-top: 20px;
    font-size: 18px;
    padding-left: 20px; /* Adicionamos o padding diretamente nos elementos */
}

/* Se precisar de mais elementos alinhados com o padding */
h1, h2, h3, h4, h5, div, section {
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

img {
    display: block; /* Transforma a imagem em elemento block */
    margin-left: auto;
    margin-right: auto;
}